/* 改变主题色变量 */
$--color-primary: #30c7b4;
$--border-color-hover: #30c7b4;
$--input-hover-border: #30c7b4;
$--input-focus-border: #30c7b4;
$-sun-color: #303133;
$-sun-warning-text: #faad14;
$-sun-success-text: $--color-primary;
$-sun-info-text: #52c41a;
$-sun-danger-text: #ff4d4f;
$-sun-delete-text: #909399;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

*::selection {
  color: #fff;
  background-color: $--color-primary;
}
*::-moz-selection {
  color: #fff;
  background-color: $--color-primary;
}
h1,h2,h3,h4,h5,h6 {
  color: $-sun-color;
}
.sun-text-warning {
  color: $-sun-warning-text;
}
.sun-text-success {
  color: $-sun-success-text;
}
.sun-text-info {
  color: $-sun-info-text;
}
.sun-text-danger {
  color: $-sun-danger-text;
}
.sun-text-delete {
  color: $-sun-delete-text;
  text-decoration: line-through;
}
.sun-text-tip {
  color: $-sun-delete-text;
  font-size: 13px;
  padding-top: 5px;
  display: inline-block;
}