div,img,span,p,ul,li,ol,h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* 重置 element 样式 */
.h-header .el-tabs__nav-wrap::after {
  height: 0px;
  opacity: 0 !important;
}
.h-header .el-tabs__active-bar {
  opacity: 0;
}
.h-header .is-active {
  background-color: rgba(48,199,180,0.1);
  border-bottom: 3px solid #30c7b4;
}
.h-header .el-tabs__item {
  padding: 0px 10px !important;
}

.el-menu {
  border: 0 !important;
}

.el-card .el-card__header {
  padding: 13px 20px;
}
.h-body .el-card {
  margin-bottom: 15px;
}
